.App-start .component {
  padding: 1rem;
  color: blue;
  border: 5px solid blue;
}
/* cssで色を指定 */
.App-start .component.red {
  color: red;
  border: 5px solid red;
}

.App-start .component.green {
  color: green;
  border: 5px solid green;
}
